[2020-05-22 12:10] OmidGhotbi opened #1 "Gamma Correction not work correctly"
There is a conflict between MaxToLux and 3ds Max Gamma and can not work at the same time. for best result disable 3dsmax gamma

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95369130-gamma-correction-not-work-correctly?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via

[2020-05-22 12:11] OmidGhotbi opened #2 "Material light emitter need another light source to work"
To use Material as a light emitter at least one light needs to be created in the scene.

[2020-05-22 12:11] OmidGhotbi opened #3 "Materials are in the wrong category"
Materials are in the wrong category in the material editor

[2020-05-22 12:12] OmidGhotbi opened #4 "output can only be saved as JPG"
output can only be saved as JPG and all other formats will be save as black image

[2020-05-22 12:13] OmidGhotbi opened #5 "no render pass"
there is no render pass available yet

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/95369122-no-render-pass?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=is

[2020-05-22 12:13] OmidGhotbi opened #6 "image map with the too-long path issue"
the image map with the too-long path can cause the missing texture file in luxCore

[2020-05-22 12:21] OmidGhotbi opened #7 "Special character"
path or image contains special character cause crush or odd behavior.

[2020-05-22 12:22] OmidGhotbi opened #8 "Long path issue"
The image with long path will cause crush

[2020-05-22 12:23] OmidGhotbi opened #9 "sub material"
sub material not work correctly and they need to work in more than just one node deep

[2020-05-22 12:24] OmidGhotbi opened #10 "sub textures"
sub textures do not work correctly and they need to work in more than just one node deep

[2020-05-22 12:26] OmidGhotbi opened #11 "Crush on changing material type"
if material type change 3ds max will crush especially from 3rd party renderer like V-ray

[2020-05-22 12:29] OmidGhotbi opened #12 "Crush on loading compact material editor"
Loading compact legacy material editor can cause 3ds max crush especially if any material exists from a 3rd part renderer.

[2020-05-22 12:30] OmidGhotbi opened #13 "uv not work correctlly all the time"
uv not work correctlly all the time

[2020-05-22 12:30] OmidGhotbi opened #14 "Uv tile not working"
Uv tile not working

[2020-05-22 12:32] OmidGhotbi opened #15 "unit scale is too big"
unit scale it's too big in 3ds max and way far big for LuxCoreRendere

[2020-08-02 17:20] OmidGhotbi opened #16 "Slow material editor"
dramatically slow material editor

[2020-08-02 17:22] OmidGhotbi opened #17 "Change Color or Map in material editor"
Change Color or Map in the material editor will cause slowing down 3dsmax and render over and over again material sample

[2020-08-09 00:31] NarcisCalin opened #18 "Luxcore for 3ds max 2020"
Would it be possible to add luxcore to 3ds max 2020?

[2020-08-09 05:57] OmidGhotbi commented on #18
of course, I'm working on it, but as there are so many parameters left and 3dsMax is a bit hard to work with especially bug fix my hands are tight.
My goal is to add as much as possible features along with stability.

[2020-08-10 16:31] NarcisCalin commented on #18
Understandable, thx for answering!

[2020-08-11 17:58] OmidGhotbi commented on #18
you can expect the first 3dsmax 2020 release in the next 10 days, but it may not be as stable as it should be.

[2020-08-12 14:29] NarcisCalin commented on #18
Can work for me, i want to play around with it. Will the caustics be supported?

[2020-08-21 20:21] OmidGhotbi commented on #18
I'll do my best.

[2020-08-21 20:21] OmidGhotbi opened #19 "material editor crashing in 3dsmax 2020 and 2021"
open material editor for the first time after install plugin will crash 3dsmax 2020 and 2021

[2020-11-15 23:10] patro1 opened #20 "missing support for max 2021"
Missing support for 3ds max 2021

[2020-12-02 16:27] OmidGhotbi opened #21 "Object with no material transformed to zero location"
Any object without material will be moved to the center point.

[2020-12-04 19:37] OmidGhotbi opened #22 "Use perspective view as camera"
Direct render from Perspective

[2020-12-06 16:16] OmidGhotbi opened #23 "Uninstall the pluging can cause 3dsmax crash on start up"
Uninstall the plugin can cause 3dsmax crash on start up

[2020-12-10 23:05] OmidGhotbi opened #24 "No alpha channel in VFB"
Alpha channel is not available in VFB and can not be saved too.

[2020-12-10 23:07] OmidGhotbi opened #25 "Saving VFB in any format except JPG and BMP save only black pixels"
Saving VFB in any format except JPG and BMP save only black pixels

[2020-12-13 15:37] OmidGhotbi commented on #21
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:37] OmidGhotbi commented on #17
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:38] OmidGhotbi commented on #18
3dsmax 2020 plugin avilable and can be download  here v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:38] OmidGhotbi commented on #19
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #16
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #15
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #14
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #13
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #7
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #12
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #11
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:39] OmidGhotbi commented on #10
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:40] OmidGhotbi commented on #9
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:40] OmidGhotbi commented on #1
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:40] OmidGhotbi commented on #8
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 15:40] OmidGhotbi commented on #6
fixed in v0.5.4467-beta.3 [dlownload](https://github.com/LuxCoreRender/MaxToLux/releases/tag/0.5.4467)

[2020-12-13 21:19] a1-kh opened #26 "Selecting one GPU is not working on multiple GPUs setup"
Hi there TAO , long time no see  😄 .
Great news , i will try to check it more tonight.
- I noticed a problem, and i hope that it is easy to fix. When i try to choose one GPU, it uses both GPUs always, any thought 🏁 ?
- Also I noticed that the CPU usage is always 100% too .

[2020-12-16 22:11] OmidGhotbi opened #27 "black material in the classic material editor"
black material in the classic material editor

[2020-12-16 22:12] OmidGhotbi opened #28 "lux onbject not loaded in 3dsmax 2021 update 3"
lux onbject not loaded in 3dsmax 2021 update 3

[2020-12-16 23:39] OmidGhotbi opened #29 "the material editor will close when try to render Light material preview"
the material editor will close when try to render Light material preview

[2021-01-17 21:50] patro1 opened #30 "lux glass: IOR custom value not translated to LuxCore"
3ds max 2021
lux glass: IOR custom value not translated to LuxCore.
by default inner ior is set to 1.5, outher to 1.0 changing the values does not affect the render.
Same happen for lux architectural glass

[2021-01-17 21:55] patro1 opened #31 "Lux Light material"
known issue: when adding lux sky to scene, the background is black
but adding a Lux Light material to a mesh in the scene or enabling emission in the material setting will add automatically lux sky to the scene

[2021-01-17 21:56] patro1 opened #32 "Lux null crash 3ds max"
3ds max 2021
trying to add Lux Null material to the material editor will crash instantly 3ds Max

[2021-01-17 22:56] patro1 opened #33 "any lux light object will make Lux Sky renber black"
3ds max 2021
if in the scene there is a mesh with lux light material or a lux material with emission enabled a lux sky is added to the scene.
Adding any lux light object for example lux point, lux sun, lux spot, lux sky, the lux sky will render black

[2021-01-19 00:14] OmidGhotbi commented on #33
It's not a bug. There is an option for it called "Auto default light", you can disable it in the light sitting panel inside renderer settings.

[2021-01-19 00:15] OmidGhotbi commented on #31
The first part about the black sky will be fixed, but the second part is not a bug. There is an option for it called "Auto default light", you can disable it in the light sitting panel inside renderer settings.

[2021-01-20 12:49] OmidGhotbi commented on #26
Fixed in upcoming weekly build.

[2021-01-21 00:05] OmidGhotbi commented on #33
For skylight you need to add a little bit of gain, for example, 2.2 gain multiplayer would be a good number for clear sky, Also use a proper exposer for it like auto linear plus gamma correction 2.2 with 512 sample.

[2021-01-21 00:06] OmidGhotbi commented on #32
Fixed in upcoming weekly build

[2021-01-21 00:07] OmidGhotbi commented on #31
For skylight you need to add a little bit of gain, for example, 2.2 gain multiplayer would be a good number for clear sky, Also use a proper exposer for it like auto linear plus gamma correction 2.2 with 512 samples.

[2021-01-24 02:27] OmidGhotbi opened #34 "Hidden lights will not render"
Hidden lights will not render at the render time.

[2021-01-24 17:44] OmidGhotbi opened #35 "bumtex for glossy and glossy coat value is too small"
bumtex for glossy2 and glossy coat materials value is too small

[2021-01-25 23:16] patro1 opened #36 "feature request render time"
Would be good to have somehow the rendering time information available.
or maybe as renderers does in 3ds max, in the lower left corner of the 3ds max UI, this information is available after rendering end.
Vray does deliver this information too in the same way, see image link for the position.
https://forums.luxcorerender.org/download/file.php?id=9369&mode=view

[2021-01-28 11:17] rs3dtouch opened #37 "3ds max 2021 Material Editor Crash"
_Max 2021 (with latest SPs)_

Opening the Material Editor (Slate or Classic) and opening the Lux material category crashed Max.

It seems to render some preview thumbnails and then fails. Even when the scene itself is empty after a fresh start...

[2021-01-28 11:28] OmidGhotbi commented on #37
Can you give me the exact name or type of material that causes the crash?
You can find it in the node-based material editor on the status bar when the crash happened.
If it's null material I already fixed it.
You can send me a screenshot of the crash in the LuxCore forum also.

[2021-01-28 14:00] patro1 opened #38 "group issue"
When there are groups in the scene, may they visible and or on a separate layer which are off,:
they are all visible in the rendered image.
There is no cons if the group helper is on same layer of its groped geometries or in a separete one, or is turned off by the layer.

[2021-01-28 17:56] OmidGhotbi commented on #38
Thank to report, has been fixed in upcoming build.

[2021-02-17 08:19] OmidGhotbi commented on #38
fixed in v0.8.1904-beta build.

[2021-02-17 08:19] OmidGhotbi commented on #35
fixed in v0.8.1904-beta build.

[2021-02-17 08:20] OmidGhotbi commented on #34
fixed in v0.8.1904-beta build.

[2021-02-17 08:20] OmidGhotbi commented on #32
fixed in v0.8.1904-beta build.

[2021-02-17 08:21] OmidGhotbi commented on #31
Not an issue just an option.

[2021-02-17 08:21] OmidGhotbi commented on #30
fixed in v0.8.1904-beta build.

[2021-02-17 08:24] OmidGhotbi commented on #33
you need to add correct exposure to fix it.

[2021-02-17 08:26] OmidGhotbi commented on #25
fixed in v0.8.1904-beta build.
Now plugin supports all image format types with a high dynamic range and 48-bit color space.

[2021-02-17 08:26] OmidGhotbi commented on #24
fixed in v0.8.1904-beta build.

[2021-02-17 08:26] OmidGhotbi commented on #4
fixed in v0.8.1904-beta build.

[2021-02-17 08:26] OmidGhotbi commented on #2
fixed in v0.8.1904-beta build.

[2021-02-17 08:26] OmidGhotbi commented on #22
fixed in v0.8.1904-beta build.

[2021-02-17 08:27] OmidGhotbi commented on #26
fixed in v0.8.1904-beta build.
Avoid selecting intel base GPU, it's a bit slow and laggy.

[2021-02-20 15:01] patro1 opened #39 "3ds max crashes on mat editor"
sometimes after working with a scene it happens that after reopening it, something chaneged..
you open the mat editor, for example in compact mode, "enable global rendering" is enabled, LuxCore start to render the slots one by one to update them, suddenly the process hang on a slot, max crashes instantly.
To avoid this, I have to restart max, open the mat editor in slate mode, unflag "enable globa

[2021-02-20 15:06] patro1 opened #40 "request for 3ds max native "color correction map""
This is a request.
Would be great to can have the native color correction map working with luxCore, it would do great to have such great map, which is also complete with it's sets of tools.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164918-request-for-3ds-max-native-color-correction-map?utm_campaign=plugin&utm_content=tracker

[2021-02-20 17:20] OmidGhotbi commented on #39
Fixed in build v0.8.2.5.

[2021-03-08 13:20] patro1 opened #41 "Lux Mix material mat editor bug"
Lux Mix material cause mat editor bug.
A Lux mix material which is in the material slot doesn't cause any issue while the scene is open.
After closing and reopening the scene, the scene might be corrupted, impossible to open, if it opens, it crashes on mat editor opening.
To can open the mat editor, is possible only in slate mode, raplace the lux mix material with another material, this will fix t

[2021-03-08 13:24] OmidGhotbi commented on #41
Thank you for the report, now it's been fixed.

[2021-03-08 13:30] patro1 opened #42 "Lux Mix renders grey"
Lux mix material doesn't seam to work properly. Whatever I try, whatever map i use, the result is always grey
testing the 2 materials separately show that they work properly.
Maybe it is part of the problem: Lux mix will show always the same name and material type for the 2 sub mat slots.
But when you click on the slots, inside there are the right materials.
For exmple: Lux mix made from slot 1 Lu

[2021-03-08 21:49] patro1 opened #43 "Environment doesn't show correctly."
When rendering using IBL, the ibl portion showed in the 3ds max viewport doesn't match the ibl portion showed in the render.
Maybe it is something similar the old exporter for Luxrender had, where the U was exported to -1 to fix the mismatch

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164916-environment-doesn-t-show-correctly?

[2021-03-08 21:51] patro1 opened #44 "rendering perspective view"
when rendering perspective view, the rendered image doesn't match the viewport in 3ds max

[2021-03-08 21:58] patro1 opened #45 "Bitmap flipped"
edited:
When using a bitmap map to texture a material, the used bitmap is rendered mirrored if the geometry has no UVW Map modifier applied.

[2021-03-10 12:43] OmidGhotbi commented on #44
Fixed in upcoming weekly build.

[2021-03-10 12:50] patro1 opened #46 "lux sphere light bug (?)"
lux sphere light possible bug (?)
I just tried 2 times to render a scene adding a lux sphere light, in both occasion my computer freezed and crashed. I could only restart my computer.
The render started normally, but after few passes the ram usage get so huge that it killed everything.

[2021-03-10 13:16] patro1 opened #47 "some imported geometries disappear in render"
some imported geometries disappear in render, other not. To make them show in render i link the one which aren't visible in the render, to a geometry which is visible in render.

PS: Omid, in the chemistry scene i sent you, the flasks and the liquid are linked to the shelf, if you unlink them, you might see 2 flask disappaering from the render.

[2021-03-10 14:32] OmidGhotbi commented on #46
Fixed.

[2021-03-10 14:40] OmidGhotbi commented on #47
I'll check that soon.

[2021-03-12 16:03] patro1 opened #48 "adding lux scale/multiply bug(?)"
adding lux scale/multiply to an existing bitmap map will crash max.
while adding first lux scale/multiply to an empty map slot, and after adding the bitmap map, to it works fine.

There are other Lux maps that behave like above mentioned. The workflow is the same, first ad a Lux map to an empty slot, second when you try to ad a texture to this map, max may crashes on maps menu opening.

<bountysou

[2021-03-12 16:06] patro1 opened #49 "request for supporting "body objects""
this is a request to support "body objects" geometries to maxtolux

link to description of the geometry type
https://download.autodesk.com/us/3DSmax/2012help/index.html?url=files/GUID-A859685F-9927-4C7D-B36D-1E91238558D-2848.htm,topicNumber=d28e527079

Edited: the request is to extend the support to all nurbs classes supported by  3ds max like brep and nurbs surfaces.

<bountysource-plugin>

---
W

[2021-03-12 17:03] patro1 opened #50 "Lux light and emission param,eter"
MaxtoLux seams not to accept efficency value  lower than 1.
Even using efficency value 0.0001 won't change the luminosity it looks like efficency value 1.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164912-lux-light-and-emission-param-eter?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)

[2021-03-14 23:18] #18 closed, assigned to nobody

[2021-03-14 23:18] #20 closed, assigned to nobody

[2021-03-14 23:18] #22 closed, assigned to nobody

[2021-03-14 23:18] #24 closed, assigned to nobody

[2021-03-14 23:23] OmidGhotbi commented on #34
new issue with instance objects.

[2021-03-14 23:24] OmidGhotbi commented on #37
investigating new crash with 3dsmax 2021.3

[2021-03-14 23:33] OmidGhotbi commented on #39
crash on new mix material

[2021-03-14 23:34] OmidGhotbi commented on #38
the problem back with object instancing

[2021-03-14 23:35] OmidGhotbi commented on #33
check for new solution so you do not need to change parameters

[2021-03-14 23:36] #32 closed, assigned to nobody

[2021-03-14 23:36] #31 closed, assigned to nobody

[2021-03-14 23:37] OmidGhotbi commented on #30
glass render dark at the moment, need to be fixed

[2021-03-14 23:37] OmidGhotbi commented on #29
same issues with 3dsmax 2021.3

[2021-03-14 23:37] OmidGhotbi commented on #28
the problem back with object instancing

[2021-03-14 23:37] OmidGhotbi commented on #27
same issues with 3dsmax 2021.3

[2021-03-14 23:38] #26 closed

[2021-03-14 23:39] OmidGhotbi commented on #7
problem with a non-english character like "é"

[2021-03-14 23:39] #16 closed, assigned to nobody

[2021-03-14 23:39] #17 closed, assigned to nobody

[2021-03-14 23:39] #19 closed, assigned to nobody

[2021-03-14 23:40] #3 closed, assigned to nobody

[2021-03-14 23:40] #4 closed, assigned to nobody

[2021-03-14 23:40] #6 closed, assigned to nobody

[2021-03-14 23:40] #8 closed, assigned to nobody

[2021-03-14 23:41] OmidGhotbi commented on #12
same issues with 3dsmax 2021.3

[2021-03-14 23:41] #14 closed, assigned to nobody

[2021-03-14 23:41] #15 closed, assigned to nobody

[2021-03-15 09:23] patro1 opened #51 "Normal issue generate by the Mirror the transform"
Normal issue generate by the Mirrored transform of clone-copy-instanced geometry .
The issue is simple to reproduce, create a box or sphere, then mirror the sphere-box as instance, asign same material to the objects. The material should be at least a glossy 2 material with different color than the deffault grey.
At render time the instanced mirrored obeject will render like it has a matte material

[2021-03-15 09:24] patro1 opened #52 "Lux glass render black"
Lux glass render black in some cases, especially when the obeject has thickness. like a vase or a glass or bottle.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164908-lux-glass-render-black?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://ww

[2021-03-15 09:30] patro1 opened #53 "Lux Light - emission flip normals (?)"
Flip normals in the emission or Lux Light material UI doesn't work

Edited:
I must report that the when you create a plane which is intended to be a lux light plane,, depending on the use and position you need to flip the normals, but the render keeps being black, because the normals aren't translated as flipped to maxtolux. Mirroring the plane, doesn't affect the render neither. Only workaround i

[2021-03-15 21:55] #21 closed, assigned to OmidGhotbi

[2021-03-16 11:09] patro1 opened #54 "Maps-texture visibility in map slots"
switching maps or adding maps to the textures materilas slot works fine in all materials, beside those reported in github,
But in some materials the adding and swapping of the maps, is not istantly visible,
With this is meant, that when you add a map to a slot, the slot look empty, but the map is there, to make visible that in that map slot there is a map, you have to swith between materials.
Mate

[2021-03-16 21:57] Ericka-dev opened #55 "Suporting particles"
It will be good to support particles in 3dsmax

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164905-suporting-particles?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F131121230

[2021-03-16 21:58] Ericka-dev opened #56 "hair and fur"
Add support for hair and fur in 3dsmax

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97164904-hair-and-fur?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=iss

[2021-03-16 22:08] OmidGhotbi commented on #54
so you mean in a few materials you can see the name of maps updated but in the other is not updated unless you refresh the view somehow, like switch between material or maps, am i right here?

[2021-03-16 22:21] patro1 commented on #54
yes exactly.

[2021-03-16 22:25] patro1 opened #57 "Lux Metal fresnel texture"
Lux Metal fresnel texture slot doesn't work.
Yo can add a map,, but at render time the color of metal is the one from the RGB color selector.

[2021-03-16 23:37] OmidGhotbi commented on #54
I see, thank you for reporting.

[2021-03-18 20:11] patro1 commented on #40
suggestion/improvement
I have a question, wouldn't it be more efficent for attracting new 3ds max user, to get the native 3ds max maps translated to LuxCore? of course the one that somehow are similar like 2D and 3D checker. This way there would be no need for you to find workaround to show the maps in 3ds max viewport
An existing  example is the bitmap map.

[2021-03-19 13:49] patro1 opened #58 "mesh-lights/Material lights as physical light suggestion/improvement"
Considering mesh-lights/Material lights as physical light is a must for LuxCore
suggestion/improvement

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97384169-mesh-lights-material-lights-as-physical-light-suggestion-improvement?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept boun

[2021-03-19 18:41] patro1 commented on #57
the metal types from the drop down menu are not working.
for example, selecting gold one expect to render yellow-gold, but it uses the color of the color selector which is by default grey.

[2021-03-20 14:45] patro1 opened #59 "Lux cloth textured-issue"
Re-opening a scene which has textured Lux cloth in the scene. or in mat editor,
1) load the material in mat editor if not available in its slots.
2) Open a texture, of Lux cloth,
3) when trying to return to the material setting (so coming out from the texture menu), max crashes after a while because of ram usage.

[2021-03-20 17:35] OmidGhotbi commented on #59
I can not reproduce the issue.

[2021-03-24 09:01] OmidGhotbi commented on #7
Fixed in v0.8.7916-beta

[2021-03-24 09:01] #7 closed, assigned to OmidGhotbi

[2021-03-24 09:01] OmidGhotbi commented on #9
Fixed in v0.8.7916-beta

[2021-03-24 09:01] #9 closed, assigned to OmidGhotbi

[2021-03-24 09:01] OmidGhotbi commented on #10
Fixed in v0.8.7916-beta

[2021-03-24 09:01] #10 closed, assigned to OmidGhotbi

[2021-03-24 09:02] OmidGhotbi commented on #12
Fixed in v0.8.7916-beta

[2021-03-24 09:02] #12 closed, assigned to OmidGhotbi

[2021-03-24 09:02] OmidGhotbi commented on #11
Fixed in v0.8.7916-beta

[2021-03-24 09:03] OmidGhotbi commented on #11
Fixed in v0.8.7916-beta

[2021-03-24 09:03] #11 closed, assigned to OmidGhotbi

[2021-03-24 09:04] OmidGhotbi commented on #23
Fixed in installer v1.0.1.9

[2021-03-24 09:04] #23 closed, assigned to OmidGhotbi

[2021-03-24 09:04] OmidGhotbi commented on #28
Fixed in v0.8.7916-beta

[2021-03-24 09:04] #28 closed, assigned to OmidGhotbi

[2021-03-24 09:05] OmidGhotbi commented on #30
Fixed in v0.8.7916-beta

[2021-03-24 09:05] #30 closed, assigned to OmidGhotbi

[2021-03-24 09:07] OmidGhotbi commented on #25
Now add a new animated format and changing gamma support Fixed in v0.8.7916-beta

[2021-03-24 09:07] #25 closed, assigned to OmidGhotbi

[2021-03-24 09:07] OmidGhotbi commented on #27
Fixed in v0.8.7916-beta

[2021-03-24 09:07] #27 closed, assigned to OmidGhotbi

[2021-03-24 09:08] OmidGhotbi commented on #29
Fixed in v0.8.7916-beta for both node base material editor and compact material editor

[2021-03-24 09:08] #29 closed, assigned to OmidGhotbi

[2021-03-24 09:08] OmidGhotbi commented on #34
Fixed in v0.8.7916-beta

[2021-03-24 09:08] #34 closed, assigned to OmidGhotbi

[2021-03-24 09:09] OmidGhotbi commented on #33
Fixed in v0.8.7916-beta by adding an option for not render default light if any light adds in the scene, need to be used with exposure.

[2021-03-24 09:09] #33 closed, assigned to OmidGhotbi

[2021-03-24 09:09] OmidGhotbi commented on #35
Fixed in v0.8.7916-beta

[2021-03-24 09:09] #35 closed, assigned to OmidGhotbi

[2021-03-24 09:09] OmidGhotbi commented on #38
Fixed in v0.8.7916-beta

[2021-03-24 09:09] #38 closed, assigned to OmidGhotbi

[2021-03-24 09:10] OmidGhotbi commented on #44
Fixed in v0.8.7916-beta
Now perspective view can be rendered exactly as you see.

[2021-03-24 09:10] #44 closed, assigned to OmidGhotbi

[2021-03-24 09:10] OmidGhotbi commented on #37
Fixed in v0.8.7916-beta

[2021-03-24 09:10] #37 closed, assigned to OmidGhotbi

[2021-03-24 09:11] OmidGhotbi commented on #39
Fixed in v0.8.7916-beta

[2021-03-24 09:11] #39 closed, assigned to OmidGhotbi

[2021-03-24 09:12] OmidGhotbi commented on #2
Fixed in v0.8.7916-beta by adding an option for auto default light. option needs to be disabled in render parameters.

[2021-03-24 09:12] #2 closed, assigned to OmidGhotbi

[2021-03-24 09:13] OmidGhotbi commented on #46
Fixed in v0.8.7916-beta

[2021-03-24 09:13] #46 closed, assigned to OmidGhotbi

[2021-03-24 09:14] #59 closed, assigned to OmidGhotbi

[2021-03-24 09:15] OmidGhotbi commented on #53
Fixed in v0.8.7916-beta by adding a flip normal in lux Light materials

[2021-03-24 09:15] #53 closed, assigned to OmidGhotbi

[2021-03-26 08:29] OmidGhotbi commented on #57
Fixed in v0.8.7916-beta

[2021-03-26 08:29] #57 closed, assigned to OmidGhotbi

[2021-03-26 08:47] OmidGhotbi commented on #51
Fixed in v0.8.7916-beta
![image](https://user-images.githubusercontent.com/164653/112606063-3edd9380-8e18-11eb-9311-3e6db06156d5.png)

[2021-03-26 08:47] #51 closed, assigned to OmidGhotbi

[2021-03-26 12:36] OmidGhotbi commented on #49
Add support for Body object in  v0.8.7916-beta

[2021-03-26 12:58] OmidGhotbi commented on #52
Fixed in v0.8.7916-beta. of course, the glass has options for outbound of transparency and that can be used to control the effect that should be used with thick glasses, and that's a different case.

[2021-03-26 12:58] OmidGhotbi commented on #13
Fixed in v0.8.7916-beta

[2021-03-26 12:58] #13 closed, assigned to OmidGhotbi

[2021-03-26 15:45] OmidGhotbi commented on #47
Fixed in v0.8.7916-beta

[2021-03-26 15:46] #47 closed, assigned to OmidGhotbi

[2021-03-26 17:29] OmidGhotbi commented on #45
Fixed in v0.8.7916-beta

[2021-03-26 17:29] #45 closed, assigned to OmidGhotbi

[2021-03-26 21:12] Ericka-dev opened #60 "3ds max 2022 support"
I know it is very early to ask and 3ds max  2022 just released, but it would be perfect if we have MaxToLux for 3dsmax 2022.

[2021-03-26 21:22] OmidGhotbi commented on #60
Add support for 3ds Max 2022 in v0.8.7916-beta.
![Screenshot 2021-03-26 220418](https://user-images.githubusercontent.com/164653/112693870-aaa81680-8e81-11eb-9568-38197a540918.jpg)

[2021-03-26 21:31] Ericka-dev commented on #60
amazing

[2021-03-30 19:28] OmidGhotbi opened #61 "Teh First line in render output is always black"
The first line in render output is always black.

[2021-03-31 22:09] OmidGhotbi opened #62 "Dislable viewport draw during render"
Viewport still continues to update and use Cpu and Gpu during the render time. it should be disabled to speed up render.

[2021-03-31 23:34] OmidGhotbi opened #63 "Suspend undo, macro recorder, animation, auto backup"
Suspend undo, macro recorder, animation, auto backup during render

[2021-04-09 18:08] OmidGhotbi commented on #63
Available in v0.8.7916-beta

[2021-04-09 18:09] OmidGhotbi commented on #62
Available in v0.8.7916-beta

[2021-04-09 18:09] OmidGhotbi commented on #61
Fixed in v0.8.7916-beta

[2021-04-09 18:10] OmidGhotbi commented on #36
Fixed in v0.8.7916-beta

[2021-04-10 18:03] Ericka-dev opened #64 "Power, Divide, subtract, less and greaterthan maps slots can not be assigned"
Power, Divide, subtract, less and greaterthan maps slots are gray and can not be assigned to any kind of maps.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97803713-power-divide-subtract-less-and-greaterthan-maps-slots-can-not-be-assigned?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** W

[2021-04-10 18:04] Ericka-dev opened #65 "Changing maps on map/material slots not showing instantly"
Changing maps on map/material slots not showing instantly and need refreshing the parameters.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97803712-changing-maps-on-map-material-slots-not-showing-instantly?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysour

[2021-04-12 21:14] patro1 commented on #59
I found out how to replicate it. It is not happening only with cloth material but with all materials.
how to replicate by using compact material editor:
1) drag&drop a bitmap into a empty material slot.
2) in 2 different empty mat slot create 2 different lux matte material. let them call mat1 and mat2
3) drag&drop the bitmap from 1) into the diffuse slot of mat1, release as copy
4) drag&drop the b

[2021-04-12 23:55] OmidGhotbi commented on #59
Those are serious steps to replicate the issue. I'll try that and see what's happening.

[2021-04-13 09:13] Myirdin opened #66 "3DS Max 2020 mat editor crash"
Hi,

when i set Lux to renderer and open max 2020 material editor, max crashes.

Is this a known issue?

Maybe i forgot doing something during installation?

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/97803711-3ds-max-2020-mat-editor-crash?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)**

[2021-04-13 09:49] OmidGhotbi commented on #66
Did you use the last version v0.8.2705 or later?

[2021-04-13 09:50] Myirdin commented on #66
Hi, i use v0.8.2.7

[2021-04-13 09:53] OmidGhotbi commented on #66
Please check the 3dsmax installation folder and inside "Maps" you should see "LuxMap" just rename it to "LuxMaps" and I think this will solve your problem.
In New build, I fixed it and it will be available in 2 days.
If it was the issue please confirm it here.

[2021-04-13 09:53] Myirdin commented on #66
I'll do it.

Thanks for quick reply!!

[2021-04-13 09:55] Myirdin commented on #66
I'm afraid the folder is already named "LuxMaps"

But i can wait a couple of days for the new build. However, thanks again for the quick reply

[2021-04-13 10:22] OmidGhotbi commented on #66
If there is any special error message please upload it here or report in LuxCoreRender Forums. ScreenShot Before 3dsmax Crash can help a lot because it will show the material causing the crash.

[2021-04-13 10:46] Myirdin commented on #66
![Max_Crash_Lux](https://user-images.githubusercontent.com/82443075/114541112-95d7cb00-9c56-11eb-9838-91695e11e4b7.JPG)
It happens each time material viewport updates reaches rendering " (Standard)"

See attached capture
![Max_Crash_Lux](https://user-images.githubusercontent.com/82443075/114541112-95d7cb00-9c56-11eb-9838-91695e11e4b7.JPG)

[2021-04-13 11:34] OmidGhotbi commented on #66
So it is okay for other materials before standard and when it reaches the standard material crash

[2021-04-13 11:43] Myirdin commented on #66
Yes, but only when i set luxcore as renderer. when another renderer is active, no problem

[2021-04-13 13:38] patro1 opened #67 "Enhancement request for Generic LuxMaterial"
It would be of great use to can have a Generic LuxMaterial based on LuxGlossy for example, which has drop-down menu from which you can chose between
Matte
Matte Translucent
Rough Matte
Glossy
Glossy Translucent
Metal
Mirror
Arch Glass
Glass
Rough Glass
Glossy coating
Velvet
Cloth
capable to retain compatible textured channels and chosen colors while switching from a material type to another.
This

[2021-04-13 14:08] OmidGhotbi commented on #67
I'll not promise anything because there is a lot of work for such things. but I will consider it if there was enough time to develop it.

[2021-04-13 14:57] Myirdin commented on #66
I may add that this occurs even with an empty scene, and the exact same problem appears in 3DS Max 2019.

[2021-04-13 15:18] patro1 commented on #66
Just a hint. Open the mat editor only in "slate" mode, and as fast as you can go to option-> set it to "manual update toggle", then go to utilities and reset the material editor.
maybe this will help you to work with maxtolux in the next days till new release willl be avialble. Of course if this hint might be a workaround for you report back.

[2021-04-13 16:16] OmidGhotbi commented on #66
it is not possible for me to replicate the issue, i hate when that happened because there is no way to know what is the issue came from. perhaps conflict with another renderer.
I fixed many issues in the new build and it will be ready on Friday or Saturday. If this one not fixing your problem i will investigate the issue directly with you, perhaps giving you and debug version so i have at least an

[2021-04-13 16:28] OmidGhotbi commented on #66
Look at this, I just try to install a fresh one and no problem at all. I really appreciate you helping us investigate the problem.

https://user-images.githubusercontent.com/164653/114587425-f3374080-9c85-11eb-9521-22e717f5c0b8.mp4

[2021-04-14 06:54] Myirdin commented on #66
I've tried making a fresh install, but it didn't solve the problem. i'll try the workaround with the "manual update" and come back to you.

[2021-04-14 07:06] Myirdin commented on #66
New Problem.
I've disabled update renderings on the editor then opened one Lux Material. I tried to manually update this material preview and it crashed again.  See attached.
![max_lux_crash](https://user-images.githubusercontent.com/82443075/114668044-8dd46580-9d00-11eb-8086-f207cac28e2c.JPG)

[2021-04-14 07:06] Myirdin commented on #66
If you need additionnal information (graphic card, other renderers installed), let me know.

[2021-04-14 07:23] OmidGhotbi commented on #66
Are you able to render anything? did you remove the old plugin from add remove program first and try to install a new one?

[2021-04-14 08:03] Myirdin commented on #66
Hi. I used add remove program. And Max to Lux is still in the renderers list. Can't find how to uninstall it properly...

[2021-04-14 08:48] OmidGhotbi commented on #66
That's super strange it could be the source of the problem. one way is to remove it manually. remove these files in 3dsmax root : embree3.dll, luxcore.dll, OpenImageDenoise.dll, OpenImageIO_LuxCore.dll
![Screenshot 2021-04-14 105231](https://user-images.githubusercontent.com/164653/114682604-89637900-9d0f-11eb-800c-f74511431c1a.jpg)

in the plugin folder LuxMap2020.dlt, LuxMaterial2020.dlt,  LuxOb

[2021-04-14 08:51] OmidGhotbi commented on #66
If none of these work if it is possible to give me anydesk id or teamviewer id so i can check the issues myself, just an alternative solution of course if it's possible for you or perhaps wait for a new installer in just one or two days with more features.

[2021-04-14 09:00] Myirdin commented on #66
Thanks for help. i'll try to uninstall it manually.

I'm afraid my directors won't allow anyone to inspect our computers but i can wait a few days for the next release.

I've just discovered your renderer.

[2021-04-14 09:11] Myirdin commented on #66
So:
- After manual uninstall and fresh re-install. Same crash.
- After renaming LuxMaps to LuxMap: The crash occurs at the very beginning of the mat editor updating. It's new!

[2021-04-14 09:23] OmidGhotbi commented on #66
i see, two options, first, wait for a new build that may fix the issue (i think there is something different cause the issue and that's new)
second, if you familiar with Anydesk or Teamviewer give me your id so i can check it by myself

[2021-04-14 09:24] Myirdin commented on #66
I will wait for next build.

Thanks!

[2021-04-14 09:25] OmidGhotbi commented on #66
it could be an issue with the GPU driver or conflict with other plugins. thank you for your time.

[2021-04-14 09:27] Myirdin commented on #66
I have Vray installed in all my 3ds max versions.

For the GPU, it's a quadro p4000. Driver is up to date

[2021-04-14 09:28] OmidGhotbi commented on #66
the strange part is material preview works until the standard material. that's really confusing.

[2021-04-14 09:30] Myirdin commented on #66
It crashes in material preview for a Luxcore material (velvet one) when LuxMaps is renamed to LuxMap

[2021-04-14 09:33] OmidGhotbi commented on #66
please just render a simple scene with just one object nothing else, and tell me is it working or not.

[2021-04-14 09:34] Myirdin commented on #66
But i can't even apply a luxmaterial

[2021-04-14 09:35] OmidGhotbi commented on #66
it doesn't matter, just see if it's working or not. i want the result so i can find the problem perhaps.
just a teapot and hit F9 that's all.

[2021-04-14 09:39] Myirdin commented on #66
![Rendertest](https://user-images.githubusercontent.com/82443075/114689574-1f020700-9d16-11eb-8c81-e3f74e5c7624.JPG)
It Works

[2021-04-14 09:41] OmidGhotbi commented on #66
Thank you, tomorrow night i will release a new build and try to consider your issue in it, we talk again after that.

[2021-04-14 09:43] Myirdin commented on #66
Ok. good luck!

[2021-04-14 12:23] patro1 commented on #54
Ericka reported the same bug
Changing maps on map/material slots not showing instantly #65

[2021-04-14 12:30] OmidGhotbi commented on #54
oh i see.

[2021-04-16 08:42] Myirdin commented on #66
Hi.

I've installed the new build but the problem persists. I bet you didn't find a way to solve it for this version.

If you need any help/tests for this matter, don't hesitate to contact me.

[2021-04-16 08:44] OmidGhotbi commented on #66
i just release a new build and i hope this one fixes the issue for you.

[2021-04-16 08:44] #63 closed, assigned to OmidGhotbi

[2021-04-16 08:45] #60 closed, assigned to OmidGhotbi

[2021-04-16 08:45] #62 closed, assigned to OmidGhotbi

[2021-04-16 08:45] #61 closed, assigned to OmidGhotbi

[2021-04-16 08:46] Myirdin commented on #66
Maybe you didn't see my previous post. didn't work with the new build. Exact same crash

[2021-04-16 08:46] #36 closed, assigned to OmidGhotbi

[2021-04-16 08:56] OmidGhotbi commented on #66
I'm really confused why it happens for you, it is a little bit unusual. by the way, finding the issue with helping us to improve LuxCore.
Can you check with LuxMark and tell me if it works for you especially the stress check.
Also, I'll try to send you a scene today later so you can just hit the render and see if the problem came from the material editor or the LuxCore itself on your side or maybe

[2021-04-16 08:59] Myirdin commented on #66
LuxMark? What is it?

Ok for the test scene. Just don't send me a Max2022 version, i didn't install it

[2021-04-16 09:00] OmidGhotbi commented on #66
https://github.com/LuxCoreRender/MaxToLux/blob/master/SampleScenes/DanishMood-Lux.zip
Just remember the first time you hit the render it will try to Compile the Kernels so it can take up to 5 minutes, it is not a bug and it is not a crash just wait and it will be fine.
As you request 3dsmax 2019 scene.

[2021-04-16 09:03] OmidGhotbi commented on #66
https://github.com/LuxCoreRender/LuxMark/releases/tag/luxmark_v4.0alpha0
LuxMark is a benchmark and hardware test base on LuxCore it's pretty famous actually.

[2021-04-16 09:04] Myirdin commented on #66
Ok, i'll try it. never used other benchmarks that Vray...

[2021-04-16 11:31] Myirdin commented on #66
Hi,

Everything goes fine with the Luxmark.

But error with the test scene. See attached
![Scene_test](https://user-images.githubusercontent.com/82443075/115018343-03366680-9eb8-11eb-9a59-2a027e71b6fc.JPG)

[2021-04-16 11:55] OmidGhotbi commented on #66
Finally, an error message, error is related to windows local language. What windows language you use? the separator is "," instead of " ." I can work on it now.

[2021-04-16 11:57] Myirdin commented on #66
I use French for Windows, because i'm french.

But i use English for other softwares.

[2021-04-16 12:07] OmidGhotbi commented on #66
ok, thank you I'll try to set my windows language to french so i can have the same issue and fix it by tonight.
the quick fix is to change the separator from "," to "." in windows, so for every application, you have standards digit.
By the way, i will fix it tonight for sure. Thank you very much for the time you spend here.
![Screenshot 2021-04-16 140519](https://user-images.githubusercontent.com/

[2021-04-16 12:10] Myirdin commented on #66
Glad it has helped.

I will wait for the fix next week as it would be better to leave digits as they are if any of my colleagues needs to use my computer.

Bye

[2021-04-16 16:57] OmidGhotbi commented on #66
It's Done. now you can use it in the European language too. If you see any issue with that let me know because it's a new build. Start with the test scene that I sent to you a few posts earlier and then try other things.
In the LuxCoreRender forum, we have a great community that helping each other and if you have any questions you can ask.
[https://forums.luxcorerender.org/viewtopic.php?f=5&t=1010

[2021-04-17 21:30] patro1 commented on #36
in v0.8.7916-beta I noticed that I still need to link the body objects because some disappear in the render, not always, not in every scene, for example it doesn't happen with LuxTeaPot
The mapping works only if I add the unwrap UVW to the body objects, otherwise they render without texture.
Maybe the instancing and reference get broken on export. for body objects( i must check this)

[2021-04-17 21:34] patro1 commented on #49
in v0.8.7916-beta I noticed that I still need to link the body objects because some disappear in the render, not always, not in every scene, for example it doesn't happen with LuxTeaPot
The mapping works only if I add the unwrap UVW to the body objects, otherwise they render without texture.
Maybe the instancing and reference get broken on export. for body objects( i must check this)

[2021-04-17 22:13] OmidGhotbi commented on #49
i need a broken scene so i can investigate the issue, MaxToLux read data from the mesh itself if the object has UV it will support it if it doesn't so it will be rendered with no UV at all.

[2021-04-18 15:41] patro1 commented on #52
does "options for outbound of transparency" has a different name in the glass material setting? or is it yet not implemented? because I can't find it

[2021-04-18 16:00] OmidGhotbi commented on #52
what option do you mean exactlly?

[2021-04-18 16:11] patro1 commented on #49
Hi Omid, I tried to put together few test scenes, all the same, so you may check instancing after exporting, mapping and geometry appaering and dissapaering. just open and hit render.
Every zip contains a max 2021 scene and a text file. Only test instanced body objects.zip contains the maps.
[test instanced body objects.zip](https://github.com/LuxCoreRender/MaxToLux/files/6331620/test.instanced.bo

[2021-04-18 16:11] patro1 opened #68 "missing material type name"
![2021-04-18_163953](https://user-images.githubusercontent.com/74514605/115151534-8cdb6500-a06d-11eb-8cb0-421ae79704ce.jpg)

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/98475508-missing-material-type-name?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysourc

[2021-04-18 16:12] patro1 commented on #52
outbound of transparency as you wrote

[2021-04-18 16:25] OmidGhotbi commented on #52
Wait i add more options to glass and for caustic that you will love.
![Screenshot 2021-04-18 182415](https://user-images.githubusercontent.com/164653/115152875-56084d80-a073-11eb-8cc7-f1eb27f78fbf.jpg)

[2021-04-18 16:52] patro1 commented on #68
this happens for any Lux material once loaded in mat editor slot

[2021-04-18 19:41] OmidGhotbi commented on #49
I'm not getting the problem, they are rendered very normally and perfect.
![Screenshot 2021-04-18 214119](https://user-images.githubusercontent.com/164653/115158533-e56f2a00-a08e-11eb-86d4-9cefcc3dda47.jpg)
I check all the files and no problem at all, you just need to remove the black background and that's all, Also it's need just 200MB of memory. 3dsmax + scene 1900MB ram.
![Screenshot 2021-04-18

[2021-04-18 19:48] patro1 commented on #49
did you turn on off the layers as i explained in the text?
as I see texture map is not visible

[2021-04-18 19:48] OmidGhotbi commented on #49
There is no texture available in the zip you send to me.

[2021-04-18 19:49] patro1 commented on #49
there are 3 zip... one has the textures

[2021-04-18 19:49] OmidGhotbi commented on #49
For object like that i always save objects and with save selected object to be sure there is no problem with the old scene and the merge it to empty scene or final project that i want to render.

[2021-04-18 19:53] patro1 commented on #49
Omid, I did exactly that, to save just the geometries i needed to show you.
Maybe you didn't download the other zip files.

[2021-04-18 19:55] OmidGhotbi commented on #49
i check with the texture too, it is ok, it was a room for HDRI

[2021-04-18 19:56] patro1 commented on #49
I meant the marble texture on the obj namewd sphere 1 2 3 4..
withouth unwrap uvw it won't be visible in render

[2021-04-18 20:04] OmidGhotbi commented on #49
Did you ever try to add an edit poly modifier for the object. it will show you your object does not have any use set.
![Screenshot 2021-04-18 220249](https://user-images.githubusercontent.com/164653/115159133-fbcab500-a091-11eb-878a-150486a91f6c.jpg)
By the way, the object and instance are completely correct, not disappearing.
![Screenshot 2021-04-18 215810](https://user-images.githubusercontent.c

[2021-04-18 20:07] patro1 commented on #49
just turm off layer pompom up and fringe up and render. try please

[2021-04-18 20:08] patro1 commented on #49
of course i added edit poly or edit mesh modifier, but it doesn't work always.

[2021-04-18 20:16] OmidGhotbi commented on #49
![Screenshot 2021-04-18 221329](https://user-images.githubusercontent.com/164653/115159432-5ca6bd00-a093-11eb-98ab-bf2fea12aa18.jpg)
turn of the coroni pompom
By the way, the scene contains many issues, where did you find this type of object anyway maybe i can see what's the problem.
look here even in the viewport the objects not showing correctly, just try turn of the groups.
![Screenshot 2021-04

[2021-04-18 20:17] OmidGhotbi commented on #49
i mean if you add the edit poly on top of your object you will see the object does not have any UVs. and they will turn to gray with no UV. i think there is a different type of UV like pixel paint.

[2021-04-18 20:17] patro1 commented on #49
i'll post soon a pic

[2021-04-18 20:24] patro1 commented on #49
rendered the max file named test instanced body objects..max
it doesn't has grouped geometries
![2021-04-18_211208](https://user-images.githubusercontent.com/74514605/115159689-b956a780-a094-11eb-804e-e7e8abde2d63.jpg)

[2021-04-18 20:25] patro1 commented on #49
the geometries in the red circle shouldn't be there. they are off, if i invert the on off layers it happens the same

[2021-04-18 20:27] OmidGhotbi commented on #49
I check with other renderers, it does not have a UV it is just a random mapping by faces.
![Screenshot 2021-04-18 222522](https://user-images.githubusercontent.com/164653/115159804-3255ff00-a095-11eb-9da3-023549bca086.jpg)

[2021-04-18 20:30] OmidGhotbi commented on #49
test instanced body objects..max has just one object in viewport ver is the second one come from?
![Screenshot 2021-04-18 222928](https://user-images.githubusercontent.com/164653/115159888-bad49f80-a095-11eb-9a14-aa619c6b62f4.jpg)

[2021-04-18 20:31] patro1 commented on #49
they are coming from the layers which are off

[2021-04-18 20:33] OmidGhotbi commented on #49
Dude i told you, if you turn the group of the same thing will happened to viewport, object will stay shown.

[2021-04-18 20:34] OmidGhotbi commented on #49
![Screenshot 2021-04-18 221437](https://user-images.githubusercontent.com/164653/115160005-3898ab00-a096-11eb-8345-a5563cb90662.jpg)

[2021-04-18 20:35] OmidGhotbi commented on #49
That means every software has a few issues with hiding and unhide objects in this format or scene.

[2021-04-18 20:37] patro1 commented on #49
Omid, why don't you understand me. I rendered a scene with no groups. and the geometries on the off layers are visible partly in the rendered image.

[2021-04-18 20:38] OmidGhotbi commented on #49
I will investigate it more, i see the same issue with other renderers but i will find a way. just tell me how to create this type of objects.

[2021-04-18 20:43] patro1 commented on #49
how?
I create first set, pompon up and with fringes up
then i copy instance them,
after i create new layers for the new instanced geometries set

I never saw this is issue before, but i only use vray.

[2021-04-18 20:46] OmidGhotbi commented on #49
How to create body object i ment.

[2021-04-18 20:52] patro1 commented on #49
to create body object i think you can only by importing nurbs CAD geometries in max, files like *.sat, *.step., *.igs and solid works and catia files.
3ds max can create nurbs surfaces, from the create pannel look for "nurbs surfaces" in drop down menu

If you need body objects, there is a great source in the internet a website called https://grabcad.com/library they are all free model. the omega

[2021-04-18 20:55] OmidGhotbi commented on #49
Fixed.

[2021-04-18 20:55] OmidGhotbi commented on #49
If you have time wait to send you a nightly build to test with.

[2021-04-18 20:55] patro1 commented on #49
ok

[2021-04-18 20:58] OmidGhotbi commented on #49
I noticed you are using Intel Gpu/Cpu for OCL. it is slower than PathCpu much slower.

[2021-04-18 21:02] patro1 commented on #49
I use PathOCL with Cuda_gpu device selected
I use PathCpu with no GPU device selected
I'm doing something wrong?

[2021-04-18 21:05] OmidGhotbi commented on #49
It's ok, on my computer IntelGpu was selected so i think is may be the same for you.

[2021-04-18 21:07] patro1 commented on #49
ah sure, It happens randomly that intel gpu is selected, so before to render i always check the rendering setting.

[2021-04-18 21:29] OmidGhotbi commented on #49
which version of 3dsmax do you use?

[2021-04-18 21:29] patro1 commented on #49
about body objects, for example, I downloaded the watch model, so to post there the render, maybe someone would get interested in LuxCore
https://grabcad.com/library/omega-seamaster-1
if you scroll down the page you'll see the render i posted

[2021-04-18 21:29] patro1 commented on #49
2021

[2021-04-18 21:49] OmidGhotbi commented on #49
Copy this file to the plugin folder and check.
[MaxToLux2021.zip](https://github.com/LuxCoreRender/MaxToLux/files/6332265/MaxToLux2021.zip)
remember to unzip it first.

[2021-04-18 21:52] patro1 commented on #49
i'll test it, of course I'll get back to you

[2021-04-18 21:53] OmidGhotbi commented on #49
if it is hard to copy let me know i will send you new installer

[2021-04-18 21:54] patro1 commented on #49
already installed and tried. it works here. fixed

[2021-04-18 22:02] OmidGhotbi commented on #49
Finally.

[2021-04-18 22:02] OmidGhotbi commented on #49
Now i will work on why the environment map is a little bit high in contrast and not smooth.

[2021-04-18 22:05] patro1 commented on #49
well check also the flipping while you are on it

[2021-04-18 22:11] OmidGhotbi commented on #49
flip is ok i think is a bit rotated.

[2021-04-18 22:11] OmidGhotbi commented on #49
I will open another issue for it as this tread is done and Finished.
Continue on the new issue.

[2021-04-18 22:12] OmidGhotbi opened #69 "HDRI Gamma is not correct at the start point"
HDRI Gamma is not correct at the start point and that will cause harsh color in the render.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/98475507-hdri-gamma-is-not-correct-at-the-start-point?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www

[2021-04-18 22:22] OmidGhotbi commented on #49
![Screenshot 2021-04-19 002229](https://user-images.githubusercontent.com/164653/115162729-59b4c800-a0a5-11eb-9978-23d408c13919.jpg)

[2021-04-18 22:23] OmidGhotbi commented on #69
Works better with new settings as the default settings.
![Screenshot 2021-04-19 002229](https://user-images.githubusercontent.com/164653/115162732-633e3000-a0a5-11eb-9945-41789472f433.jpg)

[2021-04-18 22:32] patro1 commented on #49
looks pefect

[2021-04-18 22:33] patro1 commented on #69
looks as it should now. great job

[2021-04-18 22:34] patro1 commented on #69
those pompon looks made for that hdr lol

[2021-04-18 22:37] OmidGhotbi commented on #69
Replace these files in the plugin folder like the last time and enjoy the new look.
[MaxToLux2021.zip](https://github.com/LuxCoreRender/MaxToLux/files/6332349/MaxToLux2021.zip)

[2021-04-18 22:38] OmidGhotbi opened #70 "Support for face mapping UV set"
Add Support for face mapping UV set

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/98475506-support-for-face-mapping-uv-set?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plugin&utm_content=tracker%2F13112123

[2021-04-18 22:43] patro1 commented on #69
downloaded. I'll try tomorrow.

[2021-04-18 22:45] OmidGhotbi commented on #69
![file](https://user-images.githubusercontent.com/164653/115163279-92a26c00-a0a8-11eb-9871-5ff254b015b1.jpg)
Nice.
Gamma correction 2.2 for Tonemap in the render settings.

[2021-04-19 07:59] OmidGhotbi commented on #69
add it to the new build.
[v0.8.9124](https://github.com/LuxCoreRender/MaxToLux/releases/tag/v0.8.91)

[2021-04-19 09:15] patro1 commented on #70
is this also about the missing uv mapping on body objects?

[2021-04-19 09:25] OmidGhotbi commented on #70
yes, body object and any other object that uses face mapping and pixel paint. of course, that's not a good UV set and you can see the problem with it, but just for the support it as an option.

[2021-04-19 10:25] patro1 commented on #69
The rotation  deviation of the ibl between viewport and render is 90°.
btw perspective view rendering works great now

[2021-04-19 10:27] OmidGhotbi commented on #69
Thank you for the information.

[2021-04-19 12:36] patro1 commented on #69
I think now that the gamma or brightness of the visible portion of the IBL hdr in the render is too high.
while the harsh effect is gone, which is good.
as you can see, the used hdr is a night hdr, while rendered it looks like almost day
![2021-04-19_133219](https://user-images.githubusercontent.com/74514605/115237106-7213f980-a11c-11eb-8804-8f8d267de5f6.jpg)

[2021-04-19 13:02] OmidGhotbi commented on #69
Do not worry i add an option for it so in the next build everyone is able to change it as they like. the optimum setting for the day time is 0.5 and for the night is 1.

[2021-04-19 13:03] OmidGhotbi commented on #69
of course, you can send me the project so i check if anything else wrong with it. but i think the HDRi light parameter will solve your problem.

[2021-04-19 13:06] OmidGhotbi commented on #69
Hdri rotation is fixed now.
![Screenshot 2021-04-19 150500](https://user-images.githubusercontent.com/164653/115241208-d8028000-a120-11eb-92ae-1a3317e616bc.jpg)

[2021-04-19 13:07] OmidGhotbi opened #71 "Viewport Hdri not mach with the render"
Viewport Hdri rotation is not matched with the render output.

<bountysource-plugin>

---
Want to back this issue? **[Post a bounty on it!](https://www.bountysource.com/issues/98475505-viewport-hdri-not-mach-with-the-render?utm_campaign=plugin&utm_content=tracker%2F131121230&utm_medium=issues&utm_source=github)** We accept bounties via [Bountysource](https://www.bountysource.com/?utm_campaign=plug

[2021-04-19 13:08] OmidGhotbi commented on #71
Fixed in the upcoming release.
![Screenshot 2021-04-19 150500](https://user-images.githubusercontent.com/164653/115241443-1bf58500-a121-11eb-8cf7-107bf4aa8aea.jpg)

[2021-04-19 13:16] patro1 commented on #69
great, and great for the rotation too. now it will be possible to use LuxSun and the related ibl hdr to render correctly a scene using smart IBL

[2021-04-19 13:18] OmidGhotbi commented on #69
I think so, but we need more tests before be certain.

[2021-04-19 14:00] patro1 commented on #69
for this I've already prepeared a max scene where the sun is oriented with the hdr

[2021-04-19 20:18] patro1 commented on #52
will you share a nightly or create a new build given the latest improvments?
as i understand the settings for glass, like caustics, are hardcoded for now.

[2021-04-19 22:17] patro1 commented on #69
here the scene i've prepaered.
[luxcore barcelona roof pool.zip](https://github.com/LuxCoreRender/MaxToLux/files/6339357/luxcore.barcelona.roof.pool.zip)
inside there is a lux sun and sky which are aligned with the sun of the HDR or the huge JPG
the Lux sky is off, the Lux sun has intensiti of 0.01
See if you find a way to get sun and ibl to work together

there is a pool also which is in camera m

[2021-04-19 22:20] OmidGhotbi commented on #52
the problem was not about the glass it's about something called SDS. I'll share it soon.
![002121](https://user-images.githubusercontent.com/164653/115310551-40c41980-a16e-11eb-909d-a86805bc646d.jpg)

[2021-04-19 22:24] OmidGhotbi commented on #69
Very nice, the new release will be available soon.

[2021-04-19 22:29] patro1 commented on #69
catch shadow, or shadowcatcher isn't supported yet by maxtolux.. i'm sure in the end I'll get a nice image as with vray.

[2021-04-19 22:39] OmidGhotbi commented on #69
you mean shadowcatcher.enable ? i will put it on the to-do list. it is a general option for all materials.

[2021-04-19 22:41] patro1 commented on #69
yes that one. the plane under the 3 sphere is a lux matte with catch shadow enabled, but of course it's not working

[2021-04-20 06:56] Myirdin commented on #66
Haha, enchanté aussi. Merci d'avoir réglé le problème, je le teste dès que possible.

Bonne journée!

[2021-04-21 15:21] patro1 commented on #52
What about dispersion and or abbe number, so to can render diamond with dispersion. does this needs to be implemented?

[2021-04-22 08:45] Myirdin commented on #66
Ok. it works now. Time to learn how to use it.

[2021-04-22 17:12] OmidGhotbi commented on #66
Great, we try to provide a few scenes to show you how to work with it and of course a few video tutorials, but till then you can get help in the forum, there are many people that will be glad to help.
of course, you can try it yourself and see what will happen.
[luxforum](https://forums.luxcorerender.org/index.php)
[MaxToLux part](https://forums.luxcorerender.org/viewtopic.php?f=5&t=1010&start=570

[2021-04-22 17:14] OmidGhotbi commented on #52
i already add two remain parameters. it will be released very soon.